body{
	background-color: #232323;
	margin: 0;
	font-family: Helvetica, Arial;
}

button{
	border: none;
	outline: none;
	background: none;
	text-transform: uppercase;
	font-weight: bold;
	color: seagreen;
	height: 100%;
	font-size: inherit;
	letter-spacing: 1.5px
	max-width: 10%;
	margin: auto;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
}

#heading{
	text-align: center;
	font-size: 1.5em;
	text-transform:uppercase;
	background-color: seagreen;
	color: white;
	margin: 0;
	padding: 15px 0;
}

#display{
	font-size: 2em;
	font-weight: bold;
}

div.container{
	margin: 15px auto 0 auto;
	max-width: 40%;
}

#banner{
	text-align: center;
	height: 40px;
	background-color:white;
}

#result{
	text-align: center;
	font-weight: bold;
	width: 15%;
	display: inline-block;
	margin-left: 75px;
	margin-right: 20px;
}

.square{
	width: 30%;
	margin: 1.66%;
	padding-top: 30%;
	float:left;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	border-radius: 5%;
}

.current, button:hover{
	background-color: seagreen;
	color: white;
}